/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

span.judge{
  font-size: 3em;
  border: none;
  border-bottom-color: transparent;
  box-shadow: none;
  background-color: transparent;
  text-shadow: none;
  padding-bottom: 10px;
  padding-top:5px;
  outline:none;
  -webkit-column-span: 1;
  column-span: 1;
  -webkit-column-gap:1em;
  -moz-column-gap:1em;
  column-gap:1em;
  text-align:center;
}
div#nav{
  position:absolute;
  top:0;
  width:100%;
  border-bottom: 2px solid black;
  display:block;
  height:3.5em;
}
div#login-box{
  position:absolute;
  width:100%;
  display:inline-block;
}
div#tweets{
  height:inherit;
  top:3.5em;
  position:absolute;
}
input#login-input{
  width:75%;
  display: inline;
  margin-top:2px;
  top:0;
  left:2px;
  font-size:1.5em;
  position:absolute;
}
span.logout-info{
  font-size:1.5em;
  margin-top:2px;
  display:inline;
  font-weight: bold;
}
span#login{
  color:#00ccff;
  right:0;
  font-size:3em;
  margin-right:10px;
  margin-top:2px;
/*  padding-top:20px;
  padding-right:10px;*/
  top:0;
  position:absolute;
  display:inline;
}
div#logout-box{
  display:none;
  height:inherit;
}
span#logout{
  position:absolute;
  color:#00ccff;
  right:0;
  font-size:3em;
  margin-top:2px;
  margin-right:10px;
  display:inline;
}
span.topic-span{
  -webkit-column-span: all;
  column-span: all;
  display:block;
  font-size:1.25em;
}
div.tweet-div{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  border-bottom:2px solid lightblue;
}
span.rel{
  color : green;

}
span.nrel {
  color : red;
}
span.rep{
  color : blue;
}
.twitter-tweet{
  column-span:all;
  -webkit-column-span:all;
}
