/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

span.judge{
  font-size: 3em;
  border: none;
  border-bottom-color: transparent;
  box-shadow: none;
  background-color: transparent;
  text-shadow: none;
  padding-bottom: 10px;
  padding-top:5px;
  outline:none;
  -webkit-column-span: 1;
  column-span: 1;
  -webkit-column-gap:1em;
  -moz-column-gap:1em;
  column-gap:1em;
  text-align:center;
}
span.topic-span{
  -webkit-column-span: all;
  column-span: all;
}
div.tweet-div{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
span.rel{
  color : green;

}
span.nrel {
  color : red;
}
span.rep{
  color : blue;
}
.twitter-tweet{
  column-span:all;
  -webkit-column-span:all;
}
